language: node_js
node_js: stable
sudo: false
script: "npm run travis"
notifications:
  email: false
deploy:
  provider: npm
  edge: true
  email: mdn-npm@mozilla.com
  api_key: $NPM_TOKEN
  on:
    tags: true
    repo: mdn/data
