name: lint
on:
  push:
    branches:
      - main
  pull_request:

# No GITHUB_TOKEN permissions, as we don't use it.
permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"
      - run: npm ci
      - run: npm test
