name: lint
on:
  push:
    branches:
      - main
  pull_request:

# No GITHUB_TOKEN permissions, as we don't use it.
permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"
      - run: npm ci
      - run: npm test
